<div class="container h-100 text-center list-settings">
  <p>Menú de Administrador</p>
  <div class="row h-100 justify-content-center align-items-center ">

      <div class="col-md-6 menu-admin">
        <p>Cambios en los registros de los alumnos</p>
        <div class="row">
          <div class="col-12">
            <img src="../../assets/images/btn/masusuario.png" class="btn-settings">
          </div>
          <div class="col-12">
            <img src="../../assets/images/btn/camcentro.png" class="btn-settings">
          </div>
          <div class="col-12">
            <img src="../../assets/images/btn/recalumno.png" class="btn-settings">
          </div>
          <div class="col-12">
            <img src="../../assets/images/btn/desalumno.png" class="btn-settings">
          </div>
          <div class="col-12">
            <img src="../../assets/images/btn/baja.png" class="btn-settings">
          </div>

        </div>
        
      </div>
      <div class="col-md-6 menu-admin">
        <p>Opciones avanzadas</p>
        <div class="row">
            <div class="col-12">
              <img src="../../assets/images/btn/contrasenas1.png" class="btn-settings">
            </div>
            <div class="col-12">
              <img src="../../assets/images/btn/datos.png" class="btn-settings">
            </div>
            <div class="col-12">
              <img src="../../assets/images/btn/configuraciones.png" class="btn-settings">
            </div>
            <div class="col-12">
              <img src="../../assets/images/btn/acerca.png" class="btn-settings">
            </div>
            <div class="col-12">
              <img src="../../assets/images/btn/salir.png" class="btn-settings">
            </div>
  
          </div>

      </div>
  </div>
</div>
